<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/PT+Serif:400,400i,700,700i:f/Source+Code+Pro:400,600:f">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <div class="container main">
      <div class="row">
        <div class="col-md-3 Offset-md-1">
         <h1><%= book %> <%= chapterNumber %></h1>
        </div>
        <div class="col-md-8">
          <% chapters.forEach(function(chapter) { %>
            <%- chapter %> <br />
          <% }); %>
        </div>
      </div>
    </div>
  </body>
</html>
