<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">Worship</a></li>
                <li><a href="/about">Mission</a></li>
                <li><a href="/about">Activities</a></li>
                <li><a href="/about">Events</a></li>
                <li><a href="/about">BBS</a></li>
                <li><a href="/about">Resources</a></li>
                <li><a href="/about">证道录音</a></li>
            </ul>
        </div>

    </div>
</nav>