<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include header %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="images/church1.jpg" />
    <br/>
    Sunday Schedule<br/>
    Worship Service<br/>
    10:00 - 11:30AM<br/>
    Adult Sunday School<br/>
    11:45 - 12:30PM<br/>
    Children Sunday School<br/>
    10:00 - 12:30PM<br/>
    Chinese Christian Church of New England<br/>
    1835 Beacon St.<br/>
    Brookline, MA 02445-4206<br/>
    Tel : 617-232-8652<br/>

    <% include footer %>
  </body>
</html>
